/* DEFINIÇÃO DE CORES */
:root {
    --azulPrim: #007AA6;
    --cinzaPrim: #434d57;
    --verdePrim: #1A6648;
    --azulClaro: #10B4FF;
    --verdeAgua: #00A69D;
}

/* DEFINIÇÕES GLOBAIS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    color: var(--cinzaPrim);
}

/* PAGINA INICIAL */
.indexPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.indexPage a {
    background-color: var(--azulPrim);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    min-width: 100px;
    cursor: pointer;
    text-align: center;
    transition: background-color 350ms ease;
    text-decoration: none;
}

.indexPage a:hover {
    background-color: var(--azulClaro);
}

/* PAGINA INICIAL - header */
.indexPage_header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.indexPage_header img {
    width: 150px;
}

/* PAGINA INICIAL - conteudo */
.indexPage_content {
    width: 80%;
    margin-top: 100px;
}

.indexPage_content_title {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.indexPage_content_title div p {
    font-family: 'montserrat';
}

.indexPage_content_title .title {
    font-size: 70px;
}

.indexPage_content_title .subtitle {
    font-size: 25px;
    font-weight: 300;
}

.indexPage_content_title div p span {
    color: var(--azulPrim);
}

.indexPage_content_title img {
    width: 650px;
}

.indexPage_content_text p {
    font-size: 20px;
    margin: 150px 0 30px 0;
    width: 90%;
}

.indexPage_content_text p span {
    color: var(--azulClaro);
    text-shadow: 0px 0px 10px #007aa66e;
}

/* FOOTER */
.footer {
    width: 80%;
    position: fixed;
    bottom: 30px;
    left: 10%;
    right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.termos {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.termos a {
    text-decoration: none;
    transition: color 250ms ease;
}

.termos a:hover {
    color: #10B4FF;
}

.contatos {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.contatos a {
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    border: 1px solid var(--cinzaPrim);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: border 250ms ease;
}

.contatos i {
    transition: color 250ms ease;
}

.contatos a:hover i {
    color: var(--azulClaro);
}

.contatos a:hover {
    border: 1px solid var(--azulClaro);
}

/* PAGINA DE LOGIN E CADASTRO */
.loginPage,
.cadastroPage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(var(--azulPrim), var(--azulClaro));
}

/* FORMULARIO LOGIN E CADASTRO*/
.loginPage form,
.cadastroPage form {
    padding: 20px 30px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.loginPage form h1,
.cadastroPage form h1 {
    text-align: center;
    margin: 0 0 25px 0;
    font-family: 'montserrat';
    font-size: 35px;
    color: var(--azulPrim);
}

.loginPage form label,
.cadastroPage form label {
    color: var(--cinzaPrim);
    font-family: 'montserrat';
    font-size: 20px;
    font-weight: 500;
    margin: 2px;
}

.loginPage form input,
.cadastroPage form input {
    margin-bottom: 40px;
    border: 2px solid var(--cinzaPrim);
    border-radius: 30px;
    padding: 10px;
    width: 40rem;
    font-size: 18px;
}

.loginPage form div,
.cadastroPage form div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.loginPage form div a,
.cadastroPage form div a {
    color: var(--cinzaPrim);
    text-decoration: none;
    transition: all 300ms ease;
}

.loginPage form div a:hover,
.cadastroPage form div a:hover {
    text-decoration: underline;
}

.loginPage form div button,
.cadastroPage form div button {
    background-color: var(--azulClaro);
    border: none;
    padding: 10px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    min-width: 125px;
    cursor: pointer;
    transition: background-color 350ms ease;
}

.loginPage form div button:hover,
.cadastroPage form div button:hover {
    background-color: var(--azulPrim);
}


/* PAGINA HOME */
/* PAGINA HOME - header*/
.homePage_header {
    display: flex;
    width: 90%;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
}

.homePage_header img {
    width: 150px;
    height: 50px;
    object-fit: cover;
}

.homePage_header p {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}

.homePage_header form button {
    background-color: var(--azulPrim);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    min-width: 100px;
    cursor: pointer;
    text-align: center;
    transition: background-color 350ms ease;
    text-decoration: none;
}

.homePage_header form button:hover {
    background-color: var(--azulClaro);
}

/* PAGINA HOME - main */
.homePage_main {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePage_main form .input {
    position: relative;
    width: 450px;
}

.homePage_main form .input input {
    width: 100%;
    padding: 10px;
    padding-left: 35px;
    box-sizing: border-box;
    border-radius: 30px;
    border: 2px solid var(--cinzaPrim);
}

.homePage_main form .input i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 600;
    color: var(--cinzaPrim);
}

.tarefas {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 75vh;
    margin-top: 30px;
}

.tarefas h1 {
    color: white;
}

.tarefas_principais {
    width: 67.5%;
    display: flex;
    justify-content: space-between;
}

.tarefas_principais .tarefasEmAndamento,
.tarefas_principais .tarefasAtrasadas {
    height: 100%;
    width: 48%;
    background-color: var(--azulPrim);
    border-radius: 30px;
    padding: 15px 20px;
    box-shadow: 0 0 15px var(--azulClaro);
}

.tarefas_secundarias {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.tarefas_secundarias .tarefasConcluidas,
.tarefas_secundarias .tarefasUrgentes {
    width: 100%;
    height: 45%;
    background-color: var(--azulPrim);
    border-radius: 30px;
    padding: 15px 20px;
    box-shadow: 0 0 15px var(--azulClaro);
}

.tarefasEmAndamento,
.tarefasAtrasadas,
.tarefasConcluidas,
.tarefasUrgentes {
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tarefasEmAndamento .tarefa,
.tarefasAtrasadas .tarefa,
.tarefasConcluidas .tarefa,
.tarefasUrgentes .tarefa {
    width: 100%;
    height: 25%;
    border-radius: 30px;
    margin: 10px 0;
    background-color: #E9E9E9;
    padding: 15px 20px;
    position: relative;
}
.tarefasConcluidas .tarefa,
.tarefasUrgentes .tarefa{
    height: 40%;
}

.tarefasEmAndamento .tarefa h1,
.tarefasAtrasadas .tarefa h1,
.tarefasConcluidas .tarefa h1,
.tarefasUrgentes .tarefa h1{
    color: var(--azulPrim);
}

.tarefa_footer{
    position: absolute;
    display: flex;
    width: 90%;
    justify-content: space-between;
    bottom: 15px;
}


.homePage_main_links {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homePage_main_links a {
    font-size: 18px;
    font-weight: 500;
}


/* PAGINA DA TASK */
/* PAGINA DA TASK - header*/
.taskPage_header {
    display: flex;
    width: 90%;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
}

.taskPage_header img {
    width: 150px;
    height: 50px;
    object-fit: cover;
}

.taskPage_header p {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}

.taskPage_header form button {
    background-color: var(--azulPrim);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    min-width: 100px;
    cursor: pointer;
    text-align: center;
    transition: background-color 350ms ease;
    text-decoration: none;
}

.taskPage_header form button:hover {
    background-color: var(--azulClaro);
}
/* PAGINA DA TASK - main*/
.taskPage_main{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}
.taskPage_main .task{
    width: 48%;
    border-radius: 30px;
    background-color: var(--azulPrim);
    margin: 40px 0;
    padding: 30px 40px;
    position: relative;
}
.task h1{
    color: white;
    font-size: 50px;
    text-shadow: 0 0 10px var(--azulClaro);
}
.task p{
    color: white;
    font-size: 25px;
    margin: 15px 0;
}
.dates{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.dates h3{
    color: white;
    margin-top: 50px;
    font-size: 20px;
    text-shadow: 0 0 5px var(--azulClaro);
}
.dates p{
    margin: 0;
}
.buttons{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 70px;
   width: 100%; 
}
.buttons div{
    display: flex;
    justify-content: space-between;
}
.buttons .button{
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    min-width: 100px;
    cursor: pointer;
    text-align: center;
    transition: background-color 350ms ease;
    text-decoration: none;
    background-color: rgb(173, 41, 41);
}
.buttons .concluirButton{
    background-color: var(--verdePrim);
}
.buttons .concluirButton:hover{
    background-color: #22a16e;
}
.buttons .excluirButton{
    background-color: rgb(230, 57, 57);
    margin-left: 20px;
}
.edit a{
    color: white;
    font-size: 18px;
}


/* CRIAR E EDITAR TAREFA */
.formPage_content{
    width: 90%;
    margin: 70px auto;
}
/* .formPage_content form{
    margin: 20px 0;
    width: 50%;
} */

.formPage_content form {
    padding: 20px 0px;
    width: 100%;
}
.formPage_content form .inputs{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.formPage_content form .inputs div{
    display: flex;
    width: 45%;
    flex-direction: column;
}
.formPage_content form .inputs div label{
    color: var(--cinzaPrim);
    font-family: 'montserrat';
    font-size: 20px;
    font-weight: 500;
    margin: 2px;
}
.formPage_content form .inputs div .labelDate{
    margin-top: 40px;
}
.formPage_content form .inputs div input{
    border: 2px solid var(--cinzaPrim);
    border-radius: 30px;
    padding: 10px;
    font-size: 18px;
}
.formPage_content form .inputs div .dateTimeInput{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}
.formPage_content form .inputs div .dateTimeInput input{
    width: 47%;
}
.formPage_content form .inputs div textarea{
    border: 2px solid var(--cinzaPrim);
    border-radius: 30px;
    padding: 15px;
    font-size: 18px;
    height: 100%;
}

.formPage_content form .buttons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
}
.formPage_content form button {
    background-color: var(--azulClaro);
    border: none;
    padding: 10px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    min-width: 125px;
    cursor: pointer;
    transition: background-color 350ms ease;
}

.formPage_content form button:hover {
    background-color: var(--azulPrim);
}