/* DEFINIÇÃO DE CORES */
:root {
    --azulPrim: #007AA6;
    --cinzaPrim: #434d57;
    --verdePrim: #1A6648;
    --azulClaro: #10B4FF;
    --verdeAgua: #00A69D;
}

/* DEFINIÇÕES GLOBAIS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    color: var(--cinzaPrim);
}

/* PAGINA INICIAL */
.indexPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.indexPage a {
    background-color: var(--azulPrim);
    border: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    min-width: 125px;
    cursor: pointer;
    text-align: center;
    transition: background-color 350ms ease;
    text-decoration: none;
}

.indexPage a:hover {
    background-color: var(--azulClaro);
}

/* PAGINA INICIAL - header */
.indexPage_header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.indexPage_header img {
    width: 150px;
}

/* PAGINA INICIAL - conteudo */
.indexPage_content {
    width: 80%;
    margin-top: 100px;
}

.indexPage_content_title {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.indexPage_content_title div p {
    font-family: 'montserrat';
}

.indexPage_content_title .title {
    font-size: 70px;
}

.indexPage_content_title .subtitle {
    font-size: 25px;
    font-weight: 300;
}

.indexPage_content_title div p span {
    color: var(--azulPrim);
}

.indexPage_content_title img {
    width: 650px;
}

.indexPage_content_text p {
    font-size: 20px;
    margin: 150px 0 30px 0;
    width: 90%;
}

.indexPage_content_text p span {
    color: var(--azulClaro);
    text-shadow: 0px 0px 10px #007aa66e;
}

/* FOOTER */
.footer {
    width: 80%;
    position: fixed;
    bottom: 30px;
    left: 10%;
    right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.termos {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.termos a {
    text-decoration: none;
    transition: color 250ms ease;
}

.termos a:hover {
    color: #10B4FF;
}

.contatos {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.contatos a {
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    border: 1px solid var(--cinzaPrim);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: border 250ms ease;
}

.contatos i {
    transition: color 250ms ease;
}

.contatos a:hover i {
    color: var(--azulClaro);
}

.contatos a:hover {
    border: 1px solid var(--azulClaro);
}

/* PAGINA DE LOGIN E CADASTRO */
.loginPage, .cadastroPage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(var(--azulPrim), var(--azulClaro));
}
/* FORMULARIO LOGIN E CADASTRO*/
.loginPage form, .cadastroPage form{
    padding: 20px 30px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.loginPage form h1, .cadastroPage form h1{
    text-align: center;
    margin: 0 0 25px 0;
    font-family: 'montserrat';
    font-size: 35px;
    color: var(--azulPrim);
}
.loginPage form label, .cadastroPage form label{
    color: var(--cinzaPrim);
    font-family: 'montserrat';
    font-size: 17px;
    font-weight: 500;
    margin: 2px;
}
.loginPage form input, .cadastroPage form input{
    margin-bottom: 20px;
    border: 2px solid var(--cinzaPrim);
    border-radius: 30px;
    padding: 5px 10px;
    width: 40rem;
    font-size: 18px;
}
.loginPage form div, .cadastroPage form div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.loginPage form div a, .cadastroPage form div a{
    color: var(--cinzaPrim);
    text-decoration: none;
    transition: all 300ms ease;
}
.loginPage form div a:hover, .cadastroPage form div a:hover{
    text-decoration: underline;
}
.loginPage form div button, .cadastroPage form div button{
    background-color: var(--azulClaro);
    border: none;
    padding: 10px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    min-width: 125px;
    cursor: pointer;
    transition: background-color 350ms ease;
}
.loginPage form div button:hover, .cadastroPage form div button:hover {
    background-color: var(--azulPrim);
}